footer {
    height: 100px;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    background: #1a552d;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem 2rem 3rem;
}

footer p {
    font-size: 19px;
}